/*/*/#mesdiscussions .ligne_sticky
.sujetCase3{font-weight:bold;padding-left:10px}#mesdiscussions .ligne_booleen0
.sujetCase3{}#mesdiscussions .ligne_booleen1
.sujetCase3{}#mesdiscussions
.topic_moins_24h{font-weight:bold}#mesdiscussions
.avatar_center{text-align:center}#mesdiscussions
.u{text-decoration:underline}img{border:0px;margin:0px}#mesdiscussions
.copyright{clear:both}#mesdiscussions
a{text-decoration:none}#mesdiscussions a:hover{text-decoration:underline}#mesdiscussions ul,#mesdiscussions
ol{margin-top:0px;margin-bottom:0px}#mesdiscussions
label{cursor:pointer}#mesdiscussions
table{width:100%}#mesdiscussions
tr{vertical-align:top}#mesdiscussions
th{text-align:left;vertical-align:middle}#mesdiscussions table.main
th{text-align:center;table-layout:fixed}#mesdiscussions .none tr, #mesdiscussions .none
td{border:0px}#mesdiscussions
form{margin:0px;padding:0px}#mesdiscussions
img{border:0px;margin:0px}#mesdiscussions .reponse,.profil{text-align:left}#mesdiscussions
.arbo{float:left;text-align:left;margin-top:10px}#mesdiscussions .arbo
img{margin-top:3px}#mesdiscussions
.cat{text-align:center;vertical-align:middle}#mesdiscussions
.catCase1{width:60%;text-align:left}#mesdiscussions
.catCase1bis{width:75%;text-align:left}#mesdiscussions
.catCase2{width:10%}#mesdiscussions
.catCase3{width:15%}#mesdiscussions
.catCase4{width:15%}#mesdiscussions
.center{margin:auto;text-align:center}#mesdiscussions
.centerfull{text-align:center;vertical-align:middle}.container{width:100%;text-align:center}#mesdiscussions
.left{float:left;text-align:left}#mesdiscussions
.legende{float:left;text-align:left}#mesdiscussions
.logo{float:left;text-align:left;padding-right:40px}#mesdiscussions
.nombres{float:right;text-align:right}#mesdiscussions
.menu{float:right;text-align:right}#mesdiscussions
textarea{font-family:Verdana,Arial,Sans-serif,Helvetica}#mesdiscussions{font-family:Verdana,Arial,Sans-serif,Helvetica;margin:auto;text-align:center}.mesdiscussions{width:98%}.mesdiscussions33{width:33%}.mesdiscussions50{width:50%}.mesdiscussions700{width:700px}.mesdiscussions750{width:750px}#mesdiscussions
.message{text-align:left}#mesdiscussions
.displaymessage{white-space:pre}#mesdiscussions
.messCase1{width:180px}#mesdiscussions
.messCase1bis{width:160px}#mesdiscussions
.messCase2{text-align:left}#mesdiscussions
.padding{padding:4px
0px 4px 0px}#mesdiscussions
.pagepresuiv{float:right;text-align:right;font-weight:bold;margin-left:15px}#mesdiscussions
.red{color:#F00;font-weight:bold}#mesdiscussions
a.red{color:#F00}#mesdiscussions
.plop{float:left;width:50%;text-align:center}#mesdiscussions
.repCase1{width:160px;vertical-align:top}#mesdiscussions
.right{float:right;text-align:right}#mesdiscussions
.textright{text-align:right}#mesdiscussions
.spacer{clear:both;font-size:0px;height:0px;margin:0px}#mesdiscussions
.sujet{text-align:center;vertical-align:middle}#mesdiscussions
.sujetCase1{width:2%}#mesdiscussions
.sujetCase2{width:2%}#mesdiscussions
.sujetCase3{width:52%;text-align:left}#mesdiscussions
.sujetCase4{width:4%}#mesdiscussions
.sujetCase5{width:2%}#mesdiscussions
.sujetCase6{width:15%;font-weight:bold}#mesdiscussions
.sujetCase7{width:4%}#mesdiscussions
.sujetCase8{width:4%}#mesdiscussions
.sujetCase9{width:17%}#mesdiscussions
.sujetCase10{width:2%}#mesdiscussions
.rightbutton{float:right;text-align:right}#mesdiscussions
.toberead{float:left;text-align:left}#mesdiscussions
.toolbar{width:100%;padding-bottom:2px;margin-bottom:6px;border-bottom:1px solid #777}#mesdiscussions
.toolbarM{width:100%;padding-top:2px;margin-top:6px;font-size:10px}#mesdiscussions
.toolbarA{width:100%;font-size:10px;padding-top:2px;padding-bottom:2px;margin-top:2px;margin-bottom:6px}#mesdiscussions .toolbarA
img{margin-bottom:4px}#mesdiscussions
.toolbarB{width:100%;padding-top:2px;margin-top:6px;border-top:1px solid #777;font-size:10px}#mesdiscussions .toolbarB .left img,#mesdiscussions .toolbarB .right img,#mesdiscussions .toolbarM .left img,#mesdiscussions .toolbarA .left
img{margin-left:4px;margin-right:4px}#mesdiscussions .toolbar .left img, #mesdiscussions .toolbar .right
img{margin-left:4px;margin-right:4px}#mesdiscussions
.toolbarbottom{width:100%;padding-top:2px;margin-top:6px;border-top:1px solid #777}#mesdiscussions .toolbarbottom .right
img{margin-left:6px;margin-right:6px}#mesdiscussions .toolbarbottom .left
img{margin-left:6px;margin-right:6px}#mesdiscussions
.toolbarprofil{width:100%;padding-top:2px;margin-top:6px;vertical-align:bottom}#mesdiscussions .toolbarprofil .center
img{margin-left:6px;margin-right:6px}/**/   #mesdiscussions
.barre{float:left;background-repeat:repeat-x;padding:2px
0px 3px 2px;color:black}#mesdiscussions .sondage, #mesdiscussions .search, #mesdiscussions
.PollWarning{width:80%;padding:5px
10px 5px 10px;margin:0px
auto 0px auto}#mesdiscussions
.sondage{text-align:left}#mesdiscussions
.search{text-align:center}#mesdiscussions
.sondageLeft{float:left;width:50%}#mesdiscussions
.sondageRight{float:right;width:50%;padding-top:2px}#mesdiscussions
.sondageTop{padding-top:2px}#mesdiscussions .citation, #mesdiscussions .oldcitation, #mesdiscussions .quote, #mesdiscussions .oldquote, #mesdiscussions .fixed, #mesdiscussions .code, #mesdiscussions .spoiler, #mesdiscussions
.oldspoiler{width:90%;text-align:left;padding:3px}#mesdiscussions .quote, #mesdiscussions
.oldquote{font-style:italic}#mesdiscussions .fixed, #mesdiscussions
.code{font-family:CourierNew,Courier,monospace;margin:8px
5px 8px 5px;color:#000;background-color:#FFF;border:1px
solid #000}#mesdiscussions .citation, #mesdiscussions .oldcitation, #mesdiscussions .quote, #mesdiscussions .oldquote, #mesdiscussions .spoiler, #mesdiscussions
.oldspoiler{margin:8px
auto 8px auto}#mesdiscussions .oldcitation, #mesdiscussions
.oldquote{border:0px}#mesdiscussions .spoiler
div.masque{visibility:hidden}#mesdiscussions .citation a.Topic, #mesdiscussions .citation b.s1Topic, #mesdiscussions .spoiler
b.s1Topic{text-decoration:underline}#mesdiscussions
.smiley{width:135px;margin:auto}#mesdiscussions .smiley
div{float:left;text-align:center}#mesdiscussions .smiley
img{margin-left:2px}#mesdiscussions
.profilCase1{width:20px;text-align:center;vertical-align:middle}#mesdiscussions
.profilCase2{font-weight:bold;text-align:right;width:170px}#mesdiscussions
.profilCase4{width:150px;text-align:center}#mesdiscussions
.profilCase5{width:33%;font-weight:bold;text-align:right}#mesdiscussions
.modoCase0{text-align:right;font-weight:bold}#mesdiscussions
.modoCase1{width:10px;text-align:center}#mesdiscussions
.modoCase1bis{font-weight:bold}#mesdiscussions
.modoCase3{width:320px}#mesdiscussions
.eversanctionned{color:red}#mesdiscussions
.searchCase{font-weight:bold;vertical-align:middle;width:36%}#mesdiscussions
.seachhelp{border:1px
solid black;text-align:left;padding:5px
5px 8px 5px}#mesdiscussions
.exemple{font-style:italic}#mesdiscussions
.checkbox{margin-bottom:0px}#mesdiscussions
.boutton{padding:0px}#mesdiscussions
.s0{font-size:0px}#mesdiscussions
.reponserapide{width:500px;height:100px}#mesdiscussions
.contenu{width:99%;height:250px}#mesdiscussions #apercu
iframe{width:99%;height:600px}#mesdiscussions .onglet, #mesdiscussions
.ongletonmouseover{cursor:pointer}#mesdiscussions .onglet img, #mesdiscussions .ongletsel img, #mesdiscussions .ongletonmouseover
img{margin-top:2px}#mesdiscussions
.cadreonglet{float:left}#mesdiscussions .beforonglet, #mesdiscussions .afteronglet, #mesdiscussions .beforongletsel, #mesdiscussions
.afterongletsel{float:left;height:18px;width:4px;font-size:0px;padding:0px}#mesdiscussions
.btnImage{margin:1px;cursor:pointer}#mesdiscussions
.btnImageRaised{border:1px
outset;border-color:#FFF;background-color:#5080B8;cursor:pointer}#mesdiscussions
.btnImageLowered{border:1px
inset;border-color:#FFF;background-color:#5080B8;cursor:pointer}#mesdiscussions .messagetabledel .spoiler
div{visibility:visible}#mesdiscussions
.collapsable{position:relative;padding:0
!important;margin:0}#mesdiscussions .collapsable
span.hidden{display:none;position:absolute;top:14px;left:0;width:25em}#mesdiscussions .collapsed
span.hidden{display:none}#mesdiscussions .uncollapsed
span.hidden{display:block;z-index:10000}#mesdiscussions .collapsable span.hidden
div.first{border-top:1px solid #777}#mesdiscussions .collapsable span.hidden
div{border-left:1px solid #777;border-right:1px solid #777;border-bottom:1px solid #777;padding-top:2px;padding-bottom:3px}#mesdiscussions .collapsable span.hidden
div.close{text-align:center;cursor:pointer}#mesdiscussions
img.a{margin-left:2px;margin-right:2px}#mesdiscussions .arbo h1, #mesdiscussions .arbo h2, #mesdiscussions .arbo h3, #mesdiscussions .arbo h4, #mesdiscussions .arbo h5, #mesdiscussions .arbo
h6{display:inline;font-weight:normal;font-size:10px}#mesdiscussions th
h3{display:inline}#mesdiscussions .messagetable p, #mesdiscussions .messagetabledel
p{margin:0px;padding:0px}#mesdiscussions .textleft
td{text-align:left}#mesdiscussions
ul.plandusite{text-align:left}#mesdiscussions table#sujetrelatif
td{text-align:left;width:50%}#mesdiscussions
div.onglet_menu{float:left;position:relative;padding:0
!important;margin:0}#mesdiscussions div.onglet_menu
div{display:none;position:absolute;top:18px;left:0px !important;margin:0px;padding:0px;width:20em;overflow:hidden}#mesdiscussions div.onglet_menu div a,
#mesdiscussions div.onglet_menu div
span{display:block;text-align:left;padding:2px;padding-left:30px;font-weight:bold;width:18em;background-repeat:no-repeat;background-position:5px 3px}#mesdiscussions div.nojs
div{display:block}#mesdiscussions div.onglet_menu div a:hover{background-image:none}#mesdiscussions div.onglet_menu div a img,
#mesdiscussions div.onglet_menu div span
img{margin-right:5px}#mesdiscussions
div.edited{text-align:right;font-style:italic}#mesdiscussions
.error{padding:5px}#mesdiscussions .error
b{font-size:14px}#mesdiscussions
.fastsearchMain{width:220px}#mesdiscussions
.fastsearchInput{width:100px}#mesdiscussions
.fastsearchSubmit{}#mesdiscussions
.headerModeration{width:600px;text-align:center}#mesdiscussions
.borderModeration{width:80%;text-align:center;vertical-align:middle;margin:auto;padding-top:1px;padding-bottom:1px;height:42px}#mesdiscussions
.moderationsInfos{border:1px
solid black;height:14px;font-size:10px;margin:0px;padding:0px;width:30px}#mesdiscussions
.spoilerdiv{padding:10px}#mesdiscussions
.moderationsInfosSubmit{border:1px
solid black;height:16px;font-size:8px;margin:0px;padding:0px;vertical-align:bottom}#mesdiscussions
.dashed{width:97%}#mesdiscussions
.filtre{display:block;border:0px;padding:5px;font-size:11px;text-align:left;margin:5px
auto 10px 0}#mesdiscussions .filtre
.insubcatgroup{font-weight:bold}#mesdiscussions
#welcome_message{font-size:14px;padding:5px;border:3px
double #000}#mesdiscussions
#welcome_register{font-size:14px;padding:5px;border:1px
solid #000;margin:0
auto 0 auto}.cBackTab1 .small, .cBackTab1 .small *, .reponse .small, .reponse .small
*{font-size:10px;font-weight:normal}.cBackTab1 .small input, .reponse .small
input{vertical-align:middle}.tagclouds{clear:right;display:block;width:400px;text-align:center;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:18px;border:1px
solid #bbb;padding:10px;float:right}.tagclouds
*{display:inline}.tagclouds h1, .tagclouds h1
*{font-size:110%;color:#f30;text-decoration:none}.tagclouds h2, .tagclouds h2
*{font-size:100%;color:#9c3;text-decoration:none}.tagclouds h3, .tagclouds h3
*{font-size:90%;color:#393;text-decoration:none}.tagclouds h4, .tagclouds h4
*{font-size:85%;color:#399;text-decoration:none}.tagclouds h5, .tagclouds h5
*{font-size:80%;color:#933;text-decoration:none}.tagclouds h6, .tagclouds h6
*{font-size:75%;color:#3c9;text-decoration:none}.tagclouds a:hover{text-decoration:underline}.mainmodo
td{padding:3px}.mesdiscussions
.enableCFprofil{display:block;padding:10px;font-size:12px;margin:10px
auto 10px 150px;text-align:left}#mesdiscussions
.bg_alpha_50{filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity:0.4;opacity:0.4}#mesdiscussions
.bg_alpha_100{filter:alpha(opacity=100);-moz-opacity:1.0;-khtml-opacity:1.0;opacity:1.0}#mesdiscussions
.best_response{display:block;text-align:center;font-weight:bold;padding:3px;margin-bottom:10px}#mesdiscussions .MDTransactionsReports
*{font-size:10px}#mesdiscussions .MDTransactionsReports
.col4{width:50%;text-align:left}#mesdiscussions .MDTransactionsReports
.col1{text-align:left}#mesdiscussions .MDTransactionsReports
.positive{font-weight:bold;color:#090}#mesdiscussions .MDTransactionsReports
.negative{font-weight:bold;color:#f00}#mesdiscussions .MDTransactionsReports .deleted
*{text-decoration:line-through}